*, ::before, ::after {
    box-sizing: border-box;
}

body {
    color: #1d1d1f;
    font-family: Roboto, Exo, sans-serif;
    line-height: 1.5;
    margin: 0;
}

/* HEADER START */
header#home {
    color: white;
    display: inline;
}

.jumbotron {
    background-color: #424245;
    padding: 60px;
    text-align: center;
    font-size: 15pt;
}

#logo {
    border-radius: 50%;
    width: 10rem;
}

nav {
    background-color: #1d1d1f;
    padding: 5px;
    position: sticky;
    text-align: right;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    color: #7c7374;
}
/* HEADER END */

/* MAIN START */
hr {
    background: #1d1d1f;
    background-image: -webkit-gradient(left, #7c7374, #1d1d1f, #7c7374);
    background-image: -webkit-linear-gradient(left, #7c7374, #1d1d1f, #7c7374);
    background-image: -moz-linear-gradient(left, #7c7374, #1d1d1f, #7c7374);
    background-image: -o-linear-gradient(left, #7c7374, #1d1d1f, #7c7374);
    margin-top: -15px;
    max-width: 10rem;
}

main {
    overflow: auto;
    padding: 25px;
}

.content {
    float: left;
    width: 75%;
}

.about {
    font-size: 1em;
    overflow: auto;
    padding: 25px;
}

.description {
    float: left;
    font-size: 1.5em;
    width: 50%;
}

.about img {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    float: right;
    width: 50%;
}

h2 {
    text-align: center;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.flex-container-row {
    display: flex;
}

.produk {
    flex-grow: 1;
    font-size: 75%;
    margin: 1px 5px 10px 5px;
    text-align: center;
    text-transform: uppercase;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.product img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    min-height: 59%;
}

.contact {
    padding-bottom: 30px;
    text-align: center;
}

.contact img {
    margin-left: 25px;
    margin-top: 1vh;
    width: 25px;
}

.contact p {
    display: inline;
    font-size: 1em;
}

.profile {
    float: right;
    width: 23%;
}

.profile img {
    border-radius: 50%;
    width: 10rem
}

aside{
    padding: 5px;
    text-align: center;
}
/* MAIN END */

/* FOOTER START */
footer {
    background-color: #424245;
    color: white;
    padding: 40px;
    text-align: center;
}

.copyright {
    font-weight: bold;
}
/* FOOTER END */
@media screen and (max-width: 513px) {
    .content, .profile {
        width: 100%;
        float: none;
    }

    .content, nav {
        text-align: center;
    }

    nav li {
        margin-right: 1vw;
    }

    .contact p {
        display: block;
    }

    .contact img {
        margin: 0
    }

    .description, .about img {
        float: none;
        width: 100%;
    }
}